<style>
    .table-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
</style>
<h1 class="text-center">Productos <i class="fa fa-tag"></i></h1>
<% if (rol !== 'usuario') { %>
    <a href="/categorias/crear" class="btn btn-primary mb-3"><i class="fa-solid fa-plus"></i> Agregar productos</a>
<% } %>
<div class="table-wrapper">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Grupo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% categorias.forEach(categoria=> { %>
                <tr>
                    <td>
                        <%= categoria.nombre %>
                    </td>
                    <td>
                        <%= categoria.precio %>
                    </td>
                    <td>
                        <%= categoria.descripcion %>
                    </td>
                    <td>
                        <%= categoria.stock %>
                    </td>
                    <td><%= categoria.grupo_nombre ? categoria.grupo_nombre : 'Sin grupo' %></td>
                    <td>
                        <% if (rol === 'admin' || rol === 'editor') { %>
                            <a href="/categorias/editar/<%= categoria.id %>" class="btn btn-warning btn-sm m-2">✏️</a>
                            <a href="/categorias/eliminar/<%= categoria.id %>" class="btn btn-danger btn-sm m-2">🗑️</a>
                        <% } else { %>
                                <p>Sin permisos</p>
                        <% } %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>
<a href="/dashboard" class="btn btn-outline-dark mt-3">🔙 Regresar</a>
